<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Diabetes Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [2]:
#Import the required libraries
import pandas as pd
import numpy as np

In [4]:
#Import the diabetes dataset
df_diabetes= pd.read_csv('C:\\Users\\ETK\\anaconda3\\projects\\pima-indians-diabetes.data', header= None)

#### 2: Analyze the dataset

In [6]:
#View the first five observations of the dataset
df_diabetes.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

#### 3: Find the features of the dataset

In [20]:
#Use the .NAMES file to view and set the features of the dataset
feature_names=['Number of pregnancy', 'Glucose conect','BP','Skin Folds','Insulin','BMI','Diabetic pedigree','Age','Class']

In [21]:
#Use the feature names set earlier and fix it as the column headers of the dataset
df_diabetes= pd.read_csv('C:\\Users\\ETK\\anaconda3\\projects\\pima-indians-diabetes.data', header= None, names=feature_names)

In [22]:
#Verify if the dataset is updated with the new headers
df_diabetes.head()

,Number of pregnancy,Glucose conect,BP,Skin Folds,Insulin,BMI,Diabetic pedigree,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [23]:
#View the number of observations and features of the dataset
df_diabetes.shape

(768, 9)

#### 4: Find the response  of the dataset

In [26]:
#Select features from the dataset to create the model
feature_select=['Number of pregnancy', 'Insulin', 'BMI','Age']

In [27]:
#Create the feature object
x_feat= df_diabetes[feature_select]

In [28]:
#Create the reponse object
y_target= df_diabetes['Class']

In [29]:
#View the shape of the feature object
x_feat.shape

(768, 4)

In [30]:
#View the shape of the target object
y_target.shape

(768,)

#### 5: Use training and testing datasets to train the model

In [33]:
#Split the dataset to test and train the model
from sklearn.model_selection  import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x_feat,y_target, random_state=1)

print (x_train.shape)
print (y_train.shape)
print (x_test.shape)
print (y_test.shape)

(576, 4)
(576,)
(192, 4)
(192,)

#### 6: Create a model  to predict the diabetes outcome

In [44]:
# Create a logistic regression model using the training set
from sklearn.linear_model import LogisticRegression
log_reg= LogisticRegression(solver='lbfgs', max_iter=1000)
log_reg.fit(x_train, y_train)

LogisticRegression(max_iter=1000)

In [45]:
#Make predictions using the testing set
y_pred =log_reg.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0], dtype=int64)

#### 7: Check the accuracy of the model

In [46]:
#Evaluate the accuracy of your model
from sklearn import metrics
print (metrics.accuracy_score(y_test,y_pred))

0.6927083333333334

In [47]:
#Print the first 30 actual and predicted responses
print ('Actual: \n',y_test[0:30])
print ('Predicted: \n',y_pred[0:30])

Actual:
 285    0
101    0
581    0
352    0
726    0
472    0
233    0
385    0
556    0
59     0
756    0
341    0
445    1
614    1
371    0
355    1
19     1
711    0
430    0
117    0
493    1
218    1
159    1
667    1
553    0
628    0
620    0
238    1
640    0
750    1
Name: Class, dtype: int64
Predicted:
 [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]